*{ /* removes any existing structure */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* video */
video {
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  color: #fff;
    font-weight: bold;
}

p {
  font-size: 1.5rem;
  color: #fff;
}

/* overriding bootsrap for navbar */
nav {
  z-index: 50;
  position: absolute;
}

body {
}

.container-fluid {
  padding: 7% 15%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}



/* title carousel */
.carousel {
  margin-bottom: 4rem;
  position: relative;
}

.carousel-item {
  height: 500px;
}

.background-image{
  font-size: 1.125rem;
  text-anchor: middle;
  user-select: none;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.bck-video {
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* CPP paragraph */
.jumbotron {
  background-color: #555555;
}

.btn-primary {
  background-color: #ffcf60;
  border-color: #2e2e2e;
  color: #2e2e2e;
}

.cpp-text {
  font-size: 1.2rem;
}

.my-4 {
  border-top: 1px solid #b9b9b9;
}

/* past partners */

.center-items {
  align-items: center;
  text-align: center;
}

.no-vert-pad {
  padding-bottom: 0;
  padding-top: 0;
}

@media only screen and (max-device-width: 768px) {
  .background-video {
    display: none;
  }


  .carousel {
    margin-top: 10%;
    margin-bottom: auto;
  }

  .carousel-inner {
    height: 950px;
    background-image: url(images/bckg.jpg);
  }

  .carousel-item {
    height: inherit;
  }

  .carousel-caption {
    top: 100px;
    bottom: inherit;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 2.3rem;
  }

  .cpp-text {
    font-size: 2rem;
  }

  .btn-lg {
    font-size: 3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-top: 20px;
  }

  h3 {
    font-size: 3.5rem;
  }
}
.socials {
  text-align: center;
  background-kcolor: #2e2e2e;
}

.contact-us {
  font-family: "Montserrat";
  font-size: 3rem;
  padding-bottom: 20px;
  color: #fff;
}

.social-icon-footer {
  margin: 10px 20px;
  padding-bottom: 10px;
  color: #fff;
}

.social-icon:hover {
  color: #ffcd60;
}

.copyright {
  padding-top: 10px;
  color: #fff;
}

.social-icon-footer {
  font-size: 3rem;
}

@media only screen and (max-device-width: 768px) {
  .copyright {
    font-size: 1rem;
  }

  .social-icon-footer {
    font-size: 5rem;
  }

}
