nav {
  background-color: #2e2e2e;
}

.nav-pad {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-brand {
  font-size: 1.4rem;
}


/* Socials */
.socials {
  text-align: center;
  background-color: #2e2e2e;
}

.contact-us {
  font-family: "Montserrat";
  font-size: 3rem;
  padding-bottom: 20px;
  color: #fff;
}

.social-icon {
  margin: 10px 20px;
  padding-bottom: 10px;
  color: #fff;
}

.social-icon:hover {
  color: #ffcd60;
}

.copyright {
  padding-top: 10px;
  color: #fff;
}
